body {
    font-family: sans-serif, arial;
    background-color: #DCDCDC;
    
}

header {
	position: relative;
    background: #000000;
    padding: 5em 0;
    text-align: center;
    width: 100%;
    
}

.descricao-sistema {
    position: absolute;    
    color: white;    
    font-size: 1.5em;

}

.cabecalho {
    width: 940px;
}

.logo-principal {
    
    width: 15em;
    position: absolute;
    right: 50%;  
    top: 10%; 
    
}

.logo-usuario {
    width: 3.5em;
    position: absolute;
    right: 55px;
    
}

/*
....
 ############################################################################################################
    Dividindo as seções do arquivo HTML. Parte da seção MAIN do arquivo
 ############################################################################################################
....
*/

.paragrafo-status {
    margin: 2em 0 0 1em;
    padding: 5px;
    font-weight: bold;
}

/* ####################################################################

            Informações para a criação das guias de navegação no site 
 
    Fonte de informações sobre a criação de Guias de Páginas Inteiras
    https://www.w3schools.com/howto/howto_js_full_page_tabs.asp
   
    ####################################################################
 */

.tablink {
    background-color: #555;
    color: white;
    float: left; /* Propriedade usada para especificar como o elemento deve flutuar // left - O elemento flutua à esquerda de seu contêiner */
    border: none;
    outline: none; /* Contorno - É uma linha que fica além da borda // O contorno NÂO faz parte das dimensões do elemento // Contorno é diferente de uma borda */
    cursor: pointer; /* Especifica o tipo de cursor do Mouse quando o mesmo passar por cima do elemento // Há várias opções - Ver no link    https://www.w3schools.com/cssref/pr_class_cursor.asp  */
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Estilizando o conteúdo da Guia */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px;
    text-align: center;
  }
  
  #otimo {background-color:red;}
  #bom {background-color:green;}
  #ruim {background-color:blue;}

  /*..
   ##############################################################################################
   ##############################################################################################
   ..
   */

.menu-botoes {
    margin: 10px 0 0 30px;
    padding: 5px 5px;
  
}

.botoes {

    padding: 5px 20px;
    margin: auto 15px;
    background-color: #ADD8E6;
    border: none;
}

/* 
..
#################################################################################################
#################################################################################################
..
 */

.lista-tabela {
    width: 97%;
    margin: 0 1.5em;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}

fieldset {
    width: 97%;
}

.legenda-tabela {
    margin: 5px 0 10px 20px;
    padding: 20px 0 0 20px;
    font-weight: bold;
        
}

table {
    margin: 20px 0 40px 20px;
    
}

thead {
    background: #555555;
    font-weight: bold;
    color: white;
}

th, td {
    font-size: 12px;
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
        
}

/*
..
   ###########################################################################################
                        Informações referentes ao rodapé do site
   ###########################################################################################
..
*/

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 15px 0;
	margin-top: 20px; 
}

.copyright {
    color: white;
	font-size: 15px;
	margin: 15px 0 0;
}

